/* "img" selector sa zadatim vrednostima ti definiše da sve slike na sajtu budu responzivne. */

body {
  font-family: Friz Quadrata;
  background-color: #000917;
}

iframe {
	width: 100%;
}

.banner {
	background: url(images/Banner2.png);
	background-repeat: no-repeat;
	background-size: contain;
	/*--r: 1920 / 253;

	aspect-ratio: var(--r);
	width: min(100%, min(1920px, 100vh*(var(--r))));*/
	width: 100%;
	min-width: 800px;
	position: relative;
	height: 253px;
	text-align: right;
	top: 0; 
	left: 0;
    overflow: hidden;
}

.linksmenu {
	background: url(images/orc_menu.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 33vh;
	aspect-ratio: 1.3;
	position: fixed;
	bottom: 0;
	right: 0;
}

.hovertext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

.instilogo {
    height: 55px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    /* color: #444; */
}

.ytelement {
    display: flex;
    flex-wrap: nowrap;        
}
.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:link {
    color: #fdd616;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

.menulink:visited {
    color: #fdd616;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

.menulink:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

.profilepic {
    width: 150px;
    border-radius: 40%;
    /* filter: grayscale(100%); */
}

.yticon {
	height: 75px;
}

.storeicon {
    width: 150px;
    /* filter: grayscale(100%); */
}

.gameicon {
    heigth: 200px;
    /* filter: grayscale(100%); */
}

#borderimg {
  border: 20px solid transparent;
  padding: 15px;
  border-image: url(images/orc-borders.png) 30 round;
}

/* Position the image container (needed to position the left and right arrows) */
.galleryContainer {
  position: relative;
}

/* Hide the images by default */
.mySlides* {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.galleryRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.galleryColumn {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
[class^="demo"] {
  opacity: 0.6;
}

.active,
[class^="demo"]:hover {
  opacity: 1;
}

@font-face {
	font-family: 'Friz Quadrata';
	font-style: normal;
	font-weight: normal;
	src: local('Friz Quadrata Regular OS'), url('fonts/friz-quadrata-regular-os-5870333951e7c.woff') format('woff');
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* filter: grayscale(100%); */
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */
